<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stega-node</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/libs/froala-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/libs/bootstrap/dist/js//bootstrap.min.js" defer></script>
    <script type="text/javascript" src="/libs/froala-editor/js/froala_editor.pkgd.min.js" defer></script>
  </head>
  <body class="bg-info">

    <header class="bg-white m-4 text-center rounded-pill p-3 mx-md-auto" style="max-width: 50rem;">
      <h1 class="">Stega Node</h1>
      <p>An application for hiding examination questions in an image</p>
      <nav>
        <ul class="nav justify-content-center nav-pills">
          <li class="nav-item">
            <a href="/" class="nav-link <%= homePage ? 'active' : '' %>">Home</a>
          </li>
          <li class="nav-item">
            <a href="/hod" class="nav-link <%= hodPage ? 'active' : '' %>">HOD</a>
          </li>
        </ul>
      </nav>
    </header>
   
    <main class="bg-white m-4 rounded-4 p-4 mx-md-auto" style="max-width: 50rem;">
